:root {
    --main-color: #06B666;
}

html {
    width: 400px;
    height: 440px;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

#scrape_button {
    display: flex;
    border-radius: 120px;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    cursor: pointer;
    background-color: var(--main-color);
    transition: all .5s ease;
}

#scrape_button:hover {
    background-color: #079c59;
}

header {
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    justify-content: space-between;
    align-items: center;
}
.banner-popup {
    margin-top: 0.55rem;
    margin-left: 0.55rem;
    margin-bottom: 0.25rem;
    width: 165px;
    height: 42px;
}

#close-button {
    font-size: 2rem;
    color: rgba(120, 113, 108,0.8);
    margin-right: 0.5rem;
    cursor: pointer;
}

.progress-ring {
    transform: rotate(-90deg);
  }
  
  .progress-ring-circle {
    fill: transparent;
    stroke: var(--main-color); /* Change the color of the progress bar */
    stroke-width: 10;
    stroke-dasharray: 314; /* 2 * pi * radius */
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 1s;
  }
  

  .progress-ring-text {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-anchor: middle;
    transform: translateX(100%) rotate(90deg); /* Adjust vertical position and rotation */
}

#container-progress-bars{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#container-button {
    display: flex;
    justify-content: center;
}
  
#insert-text-container {
    display: none;
}

#home-container {
    display: block;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 1.1rem;
    margin: 1rem;
}

.bold-words{
    font-weight: 700;
}

#bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgba(250, 250, 249,0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e5e7eb;
}

#bottom-nav div {
    font-size: 24px;
    cursor: pointer;
}

.progress-ring-circle-grey {
    fill: #e9e9e9d1; /* Grey color for the background circle */
    transition: fill 0.7s; /* Transition effect for color change */
}


.active-icon {
    color: rgb(0, 0, 0);
}

.inactive-icon{
    color: rgba(0, 0, 0, 0.4);
}

.inactive-icon:hover{
    color: rgba(0, 0, 0,0.7);
}

.progress-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.progress-tag>img{
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
}